body {
background: #0a0a0a;
color: white;
font-family: Arial;
}

.navbar {
background: black;
}

.hero {
height: 100vh;
background: linear-gradient(rgba(0,0,0,0.7), black),
url('car-bg.jpg') center/cover;
}

.card {
background: #111;
border: 1px solid #2aff00;
border-radius: 15px;
}

.featured {
border: 2px solid #00bfff;
transform: scale(1.05);
}

.btn-success {
background: #2aff00;
border: none;
}

.gallery img {
transition: 0.3s;
}

.gallery img:hover {
transform: scale(1.05);
}

footer {
background: black;
}
